* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    width: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#countdown {
    font-size: 10rem;
    margin-bottom: 100px;
}

#countdown-message {
    font-size: 2rem;
    margin-bottom: 40px;
}

#random-numbers {
    width: 100%;
    font-size: 5rem;
    display: flex;
    justify-content: space-between;
}

#scores-message {
    font-size: 3rem;
}